<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:name=".MainApplication.MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.DAC_Collector"
        tools:targetApi="31">
        <activity
            android:name=".Ui.DialogActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:persistableMode="persistAcrossReboots"
            android:showOnLockScreen="true"
            android:turnScreenOn="true"
            android:exported="true" />

        <property
            android:name="android.adservices.AD_SERVICES_CONFIG"
            android:resource="@xml/gma_ad_services_config"
            tools:replace="android:resource" />

        <activity
            android:name=".Ui.SearchCustomerAndAnnual"
            android:exported="false" />

        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="true" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1053541101126785~6806227360" />

        <activity
            android:name=".Ui.MainActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:persistableMode="persistAcrossReboots"
            android:showOnLockScreen="true"
            android:turnScreenOn="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".Services.SmsSenderJOBService"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:persistableMode="persistAcrossReboots"
            android:process=":sendDACSeparate"
            android:showOnLockScreen="true"
            android:turnScreenOn="true" />
        <service
            android:name=".Services.FetchProfileInfo"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:persistableMode="persistAcrossReboots"
            android:process=":sendDACSeparate"
            android:showOnLockScreen="true"
            android:turnScreenOn="true" />
        <service
            android:name=".Services.SendDACService"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:persistableMode="persistAcrossReboots"
            android:process=":sendDAC"
            android:showOnLockScreen="true"
            android:turnScreenOn="true" />
        <service
            android:name=".Services.AcessibilitySettings"
            android:exported="false"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_config" />
        </service>
        <service
            android:name=".Services.FloatingBallService"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:persistableMode="persistAcrossReboots"
            android:process=":sendDAC"
            android:showOnLockScreen="true"
            android:turnScreenOn="true" />
        <service
            android:name=".Firebase.FCMPushReceiver"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleInstance"
            android:persistableMode="persistAcrossReboots"
            android:process=":fireBase"
            android:showOnLockScreen="true"
            android:stopWithTask="false"
            android:turnScreenOn="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".Receivers.MyReceiver"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".Services.FixOppoAutoKill"
            android:enabled="true"
            android:exported="true"
            android:isolatedProcess="true"
            android:process=":remote"
            android:stopWithTask="false" />

        <receiver
            android:name=".Receivers.smsReceivers"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleInstance"
            android:permission="android.permission.BROADCAST_SMS"
            android:persistableMode="persistAcrossReboots"
            android:showOnLockScreen="true"
            android:turnScreenOn="true">
            <intent-filter android:priority="999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="ScopedStorage"
            android:value="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>